WHISX_AUTH_API_HTTP_PORTS=x:x
WHISX_AUTH_API_HTTPS_PORTS=x:x

WHISX_USER_API_HTTP_PORTS=x:x
WHISX_USER_API_HTTPS_PORTS=x:x

WHISX_AUTH_DB_PORTS=x:5432
WHISX_AUTH_DB_DATABASE=x
WHISX_AUTH_DB_USER=x
WHISX_AUTH_DB_PASSWORD=x

WHISX_USER_DB_PORTS=x:5432
WHISX_USER_DB_DATABASE=x
WHISX_USER_DB_USER=x
WHISX_USER_DB_PASSWORD=x

WHISX_LOGS_DB_PORTS=x:5432
WHISX_LOGS_DB_DATABASE=x
WHISX_LOGS_DB_USER=x
WHISX_LOGS_DB_PASSWORD=x

WHISX_PGADMIN_EMAIL=x
WHISX_PGADMIN_PASSWORD=x
WHISX_PGADMIN_PORTS=x:80

WHISX_REDIS_PORTS=x:6379

WHISX_SEQ_SERVER_PORTS=x:5341
WHISX_SEQ_DASHBOARD_PORTS=x:81